fastapi
uvicorn
firebase-admin
python-multipart
pydantic
python-jose[cryptography]
passlib[bcrypt]
google-cloud-storage
python-dotenv
httpx
google-genai
google-cloud-firestore
docling
google-cloud-aiplatform
google-cloud-pubsub
pydantic[email]
